.forgot-password-label {
  display: flex;
  justify-content: space-between;
}
.label-text {
  font-size: 16px;
}
.forgot-password-text {
  font-size: 16px;
  cursor: pointer;
  color: #2777ef;
}
.require {
  color: red;
}
