body{
  font-family: 'Gilroy';
}
.label-font label ,span{
  font-size: 16px !important;
}
p{
  margin: 0px;
}

@media only screen and (max-width: 1000px) {
  .side-bar-container {
    display: none;
    padding: 54px;
  }
  .right-container{
     width: 100% !important;
     padding-right: 20px !important;
     padding: 20px;
  }
  .form-container{
    width: 100% !important;

  }
  .welcome-card{
    width: 100% !important;
  }
  .authentication-form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
}


.authentication-form {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.side-bar-container {
  height: 100vh;
  background-color: #f4f5fa;
  padding: 54px;
  box-sizing: border-box;
  width:25%;
}
.heading {
  font-family: "Circular-Loom";
  font-style: normal;
  margin-top: 72px;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.3px;
  color: rgba(21, 21, 21, 0.85);
}
.bottom-logo {
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.form-filed {
  width: 100%;
 
}
.header {
  display: flex;
  justify-content: flex-end;
}
.sign-up-text {
  margin-left: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #2777ef;
}

.new-jur{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.3px;
color: rgba(21, 21, 21, 0.85);
}

*:focus {
  outline: none;
}
/* // login form  */

.right-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 75%;
  align-items: center;
  padding-right: 72px;
  box-sizing: border-box;
  padding-top: 40px;
}

.margin-top-input{
  margin-top: 24px;
}

.form-container{
  display: flex;
  height: 100vh;
  margin-top: 10vh;
  flex-direction: column;
  width: 48%;
  height: 70vh;
}

.signin-tex{
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
}
.started-with-jur{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: rgba(21, 21, 21, 0.6);
margin-top: 8px;
line-height: 24px;
}

.mt-24{
  margin-top: 24px;
}
.mt-8{
  margin-top: 8px;
}